
.Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#Invitation {
  border: solid;
}

h1 {
  text-align: center;
  font-size: 30px
}



.subheader {
  text-align: center;
  font-size: 13px;
}

body {
  font-family:monospace;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #d3ffe1;
    font-family:monospace;
    text-align: center;
}

.tabcontent {
  font-size: 18px;
}

.tab button {
    background-color: inherit;
    float: inherit;
    border: none ;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
    font-family: Monospace;
}

.tab button:hover {
    background-color: #ddd;
}